body {
  background: #51a651; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, #3c773c, #55aa94); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #3c773c, #55aa94); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #3c773c, #55aa94); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #3c773c, #55aa94); /* Standard syntax */
  color: white;
  padding-top: 0;
  font-size: 2.5em;
}

.header {
  margin-top: 5%;
  margin-bottom: 20%;
}

h1, h2, h3 {
  font-family: 'Hind', sans-serif;
}

i.mega {
  font-size: 13em;
  color: #55aa55;
}

.btn-primary {
  background-color: #448844;
  border: 1px solid #3c773c;
}

.btn-primary:hover {
  background-color: #3c773c;
  border-color: #224422;
}

.explanatory-graphics .fa {
  font-size: 7em;
}

.row {
  margin-bottom: 2em;
}
