language: node_js
node_js:
 - "6"
branches:
  only:
  - master
script:
 - echo "Deploying"
install:
 - npm install -g firebase-tools
after_success:
 - firebase deploy --project listmiweb --token $FIREBASE_TOKEN
