/*
Färgschema för listmi
Primärfärg:
#005724 shade
#007B33
#00af49 full
#80D7A4
#CCEFDB tint

Komplementfärg - neutral
#0E2424 shade
#143333
#1D4948 full
#8EA4A4
#D2DBDA tint

Komplementfärg - klick
#7D5106 shade
#B07209
#FBA30D full
#FDD186
#FEEDCF tint

#09BCB9 for links?
*/

body {
  background: #fff;
  color: #1D4948;
  font-family: 'Droid Sans', sans-serif;
  padding-top: 0;
}

.header {
  background-color: #00A746; /* 5% of primary */
  margin-bottom: 20px;
}

.startpage .header {
  background-image: url('../images/bg-tant-cropped.jpg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 167,70,.7); /* #00A746 = 5% of primary */
  background-size: cover;
  height: 95vh;
}

a {
  color: #c6149d;
  text-decoration: underline;
}

a:hover {
  background-color: #c6149d;
  color: #fff;

}

a.logolink:hover {
  background-color: transparent;
  color: inherit;
}

dl {
  margin-top: 15px;
}

dd {
  margin-bottom: 15px;
}

.teaser {
  color: #143333;
  padding: 1em;
  margin-bottom: 20px;
  text-align: center;
}

.teaser h1 {
    color: #fff;
    text-shadow: 1px 1px #005724;
    font-size: 3.5em;
    margin-bottom: 1em;
}

.logolink {
  display: inline-block;
  padding: 20px 0 20px 0;
}

.main {
  background-color: #fff;
}

h1 {
    margin-bottom: 10px;
}

h1.modal-title {
  font-size: 1.7em;
  font-weight: bold;
}

h2 {
    color: #007b33; /* 30% primary */
    font-size: 1.5em;
    margin-top: 1.2em;
}

.modal-body h2 {
  margin-top: 0;
}

p {
    font-size: 1.2em;
}

p.slogan {
  font-size: 1.9em;
}

/* FOOTER */
.footer {
  background: #143333;
  color: #d2dbda;
  text-align: center;
}

.footer h2 {
  color: #8EA4A4;
}

.footer p {
  margin: 10px 0 20px 0;
}

.footer .row {
  margin-bottom: 20px;
}

/* BUTTONS */
.btn-primary {
  background-color: #00af49; /* #00af49 */
  color: #0E2424;
  border: none;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #007B33;
  border-color: #005724;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    background-color: #007B33;
    border-color: #005724;
}


/* TEASER BUTTONS  */
.teaser .btn-primary {
  background-color: #FBA30D;
  color: #0E2424;
  border: none;
  font-size: 18px;
  padding: 1em;
}

.teaser .btn-primary:hover {
  background-color: #FDD186;
  border-color: #005724;
}

.teaser .btn-primary:active,
.teaser .btn-primary.active,
.teaser .btn-primary:focus,
.teaser .btn-primary:active:hover,
.teaser .btn-primary.active:hover,
.teaser .btn-primary:active:focus,
.teaser .btn-primary.active:focus,
.teaser .btn-primary:active.focus,
.teaser .btn-primary.active.focus {
    background-color: #FDD186;
    border-color: #FBA30D;
}

/** MODALS **/
.modal-header {
  border-bottom: 0;
  padding: 15px 15px 0 15px;
}

.modal-footer {
    border-top: 0;
    text-align: center;
}

.modal-footer label {
  margin-bottom: 15px;
}

.row {
  margin-bottom: 20px;
}

.container {
  justify-content: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* ALERTS */
.alert-warning {
    background-color: #FEEDCF;
    border-radius: 0;
    color: #6d4602;
}

.alert-success {
  background-color: #CCEFDB;
  border-radius: 0;
  color: #6d4602;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .teaser,
  .row {
    margin-bottom: 50px;
  }

  .teaser .row {
    margin-bottom: 20px;
  }
}
