body {
  background: #fff; /* For browsers that do not support gradients */
  color: #2d2d2d;
  padding-top: 0;
}

.header {
}

.teaser {
  background-color: #55aa55;
  color: #2d2d2d;
  padding: 1em;
  margin-bottom: 20px;
  /* text-align: center; */
}

.teaser h1 {
    color: #fff;
}

.logolink {
  display: inline-block;
  padding: 20px 0 20px 0;
}

.main {
  background-color: #fff;
}

h1, h2, h3, p {
  font-family: 'Droid Sans', sans-serif;

}

h1 {
    margin-bottom: 10px;
}

h1.modal-title {
  font-size: 1.7em;
  font-weight: bold;
}

h2 {
    color: #408040;
    font-size: 1.5em;
    margin-top: 1.2em;
}

.modal-body h2 {
  margin-top: 0;
}

p {
    font-size: 1.2em;
}

p.slogan {
  font-size: 1.6em;
}

.footer {
  background: #2d2d2d;
  color: #fff;
  text-align: center;
}

.footer h2 {
  color: #55aa55;
}

.footer p {
  margin: 10px 0 20px 0;
}

.btn-primary {
  background-color: #55aa55; /* #448844 */
  color: #2d2d2d;
  border: none;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #3c773c;
  border-color: #224422;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
    background-color: #3c773c;
    border-color: #224422;
}

.modal-header {
  border-bottom: 0;
  padding: 15px 15px 0 15px;
}

.modal-footer {
    border-top: 0;
    text-align: center;
}

.modal-footer label {
  margin-bottom: 15px;
}

.row {
  margin-bottom: 20px;
}

.container {
  justify-content: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
  .teaser,
  .row {
    margin-bottom: 50px;
  }

  .teaser .row {
    margin-bottom: 20px;
  }
}
